
body {
    background: #413F3D;
}

header svg {
    fill: #CAC3BF;
}

.brSp2 {
    display: none;
}

h2 {
    color: #CAC3BF;
}

@media screen and (max-width: 700px) {
    .brSp2 {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .overview-box {
        text-align: center;
        line-height: 1.5rem;
    }
}

.item-title {
    background: #CAC3BF;
    color: black;
}
