
body {
    background: linear-gradient(#1D3458 30.999%, #9D875B 31%);
    /*font-family: -apple-system, BlinkMacSystemFont, "MS PMincho", "MS Mincho", "Book Antiqua", "Noto Sans JP", 'Lato', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

.brSp2 {
    display: none;
}

h2 {
    color: white;
}

.st0 {
    fill: #fff;
}

@media screen and (max-width: 700px) {
    .brSp2 {
        display: block;
    }
}

.event-explanation {
    margin: 0 0 3rem;
    border: solid 1px #fff;
    background: #fff;
}

.event-explanation-title {
    width: fit-content;
    padding: 0 .5rem;
    background: #9D875B;
    color: #fff;
}

.item-row {
    padding: .25rem;
    font-family: "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #fff;
    box-shadow: 3px 3px 10px #444;
}

.item-title {
    background: #9D875B;
    padding: 0 1rem;
    font-weight: bold;
}

.item-content {
    /*background: #3D3D3D;*/
}

.mail-supplement {
    line-height: 1.2rem;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .item-row {
        padding: 0;
    }
}

.confirm-terms {
    height: 300px;
    width: 100%;
    border: solid 1px #ccc;
    margin-bottom: .5rem;
    padding: .25rem;
    overflow-y: scroll;
}


.submit-btn {
    background: #1D3458;
    border: solid 3px #1D3458;

}

.submit-btn:hover {
    background: #9D875B;
}

.submit-btn::before {
    border: solid 3px #9D875B;
}

